[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
expects = "*"
autopep8 = "*"
pytest = "*"
pytest-cov = "*"

[packages]
flask = "*"
gunicorn = "*"
requests = "*"
gevent = "*"

[requires]
python_version = "3.7"
