{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="text-center">
        <img src="{{ url_for('static', filename='images/brighthive_FullColor-2019-InterimLogo-IconText-Horizonal-web-header-3.png')}}"
            class="img-fluid" alt="BH Interim logo" style="width:15%;height:auto" />
    </div>
    <h2 class="text-center">Honey Badger</h2>
    <p class="text-center">
        A simple reference application for consuming BrightHive Data Resources.
    </p>
    <p class="text-center">
        <small class="text-muted">
            <strong>Disclaimer:</strong> This tool is not intended to be a production application and should never be
            used
            as one. It is solely intended to
            be a reference application for how BrightHive Data Trust APIs can be consumed.
        </small>
    </p>
    <div class="container" style="width:25%">
        <!-- <div class="row">
            <div class="col">
                <a class="btn btn-block btn-success btn-md btn-image bh-icon"
                    href="http://localhost:8000/oauth/authorize?scope=user:details&response_type=code&client_id=2cgwOoyMPqU17LWwq7dwBGTE&redirect_uri=http://localhost:8080/auth/redirect&code_challenge={{code_challenge}}&code_challenge_method={{code_challenge_method}}"><span class="bh-icon">&nbsp;</span>Log in with
                    BrightHive</a>
            </div>
        </div> -->
        <div class="row">
            <div class="col">
                <a class="btn btn-block btn-success btn-md btn-image bh-icon"
                    href="http://localhost:8000/oauth/authorize?scope=user:details&response_type=code&client_id=2cgwOoyMPqU17LWwq7dwBGTE&redirect_uri=http://localhost:8080/auth/redirect"><span class="bh-icon">&nbsp;</span>Log in with
                    BrightHive</a>
            </div>
        </div>
        <div class="row" style="padding-top:5px">
            <div class="col">
                <a class="btn btn-block btn-default btn-dark btn-md"
                    href="https://github.com/login/oauth/authorize?scope=user:email&client_id=4ba0f8ed78348d9ce3e2"><span
                        class="fa fa-github">&nbsp;</span>Log in with
                    GitHub</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}