{% extends 'base.html' %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Data Resource</th>
            <th scope="col">Status</th>
            <th scope="col">Record Count</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in stats %}
        <tr>
            <td>{{stat.data_resource}}</td>
            {% if stat.status == 'OK' %}
            <td style="color:green">{{stat.status}}</td>
            {% else %}
            <td style="color:red">{{stat.status}}</td>
            {% endif %}
            <td>{{stat.record_count}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}